doctype html
include includes/menu.pug
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(name='description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s')
        meta(name='title' content='Shopno')
        meta(name='keywords' content='shopno, SHOPNO, Shopno, shop')
        meta(name='og:title' content='Shopno')
        meta(name='og:description' content='Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry s standard dummy text ever since the 1500s')
        link(rel='stylesheet' href='css/stylesheet.css')
        link(rel='stylesheet', type='text/css', href='libs/slick/slick.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:400,700')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400')
        link(rel='stylesheet', type='text/css', href='libs/magnific-popup/dist/magnific-popup.css')
        link(rel='stylesheet', type='text/css', href='libs/ion.rangeSlider-master/css/ion.rangeSlider.skinHTML5.css')
        link(rel='stylesheet', type='text/css', href='libs/ion.rangeSlider-master/css/ion.rangeSlider.css')
        title shopno
    body
        header.header
            .header__item
                .container
                    .row
                        .header__contact.contact
                            a.contact__item(href='mailto:info@shopy.com')
                                i.icon-mail
                                span.contact__text info@shopy.com
                            a.contact__item(href='tel:996 - 5553 - 453')
                                i.icon-phone
                                span.contact__text 996 - 5553 - 453
                        .header__social.social
                            ul.social__list.list
                                li.social__item
                                    a.icon-facebook
                                li.social__item
                                    a.icon-twitter
                                li.social__item
                                    a.icon-google
                                li.social__item
                                    a.icon-instagram
            .header__item.header__item--big
                .container
                    .logo
                        a
                            img(src='./img/logo.png' alt='')
                    nav.nav
                        -
                            let menus=[
                            {
                            link: 'http://localhost:3000/index.html',
                            text: 'Home'
                            },
                            {
                            link: 'http://localhost:3000/products.html',
                            text: 'Product'
                            },
                            {
                            link: '#',
                            text: 'Hot deals'
                            },
                            {
                            link: '#',
                            text: 'About'
                            },
                            {
                            link: '#',
                            text: 'Contact'
                            }
                            ]
                        .header__mobile.mobile
                            span.mobile__item
                            span.mobile__item
                            span.mobile__item
                        ul.nav__list.list
                            +menu
                        .header__sidebar.sidebar
                            .sidebar__wrapper
                                .sidebar__close
                                    span.sidebar__item.mobile__item
                                    span.sidebar__item.mobile__item
                                ul.menu--mobile.menu
                                    +menu
                    .header__buttons
                        .button__search
                            a.icon-search
                        .button__user
                            a.icon-user-o
                        .button__cart
                            a.icon-cart.cart
                                span.cart__quantity 5
        main.main
            section.arrivals
                .container
                    .row.row--products
                        .column-left
                            .filter__box
                                .filter__categories
                                    h3.filter__title Categories
                                    form.form
                                        .form__control
                                            input.form__category(type='radio' name='group1' value='man' id='man')
                                            label.form__label(for='man') Man
                                        .form__control
                                            input.form__category(type='radio' name='group1' value='woman' id='woman')
                                            label.form__label(for='woman') Woman
                                        .form__control
                                            input.form__category(type='radio' name='group1' value='children' id='children')
                                            label.form__label(for='children') Children
                                        .form__control
                                            input.form__category(type='radio' name='group1' value='hotDeals' id='hotDeals')
                                            label.form__label(for='hotDeals') Hot Deals
                            .filter__box
                                .filter__price
                                    h3.filter__title Price Filter
                                    form.form
                                        .form__control
                                            input.range-slider(type='text' name='range-slider' value='')
                                        .form__control
                                            input.range__from(type='text')
                                            input.range__to(type='text')
                            .filter__box
                                .filter__sizes
                                    h3.filter__title Sizes
                                    form.form
                                        .form__control
                                            input.form__size(type='checkbox' name='s' id='s')
                                            label.form__label(for='s') Small
                                        .form__control
                                            input.form__size(type='checkbox' name='m' id='m')
                                            label.form__label(for='m') Medium
                                        .form__control
                                            input.form__size(type='checkbox' name='l' id='l')
                                            label.form__label(for='l') Large
                                        .form__control
                                            input.form__size(type='checkbox' name='xl' id='xl')
                                            label.form__label(for='xl') X-Large
                            .filter__box
                                .filter__brands
                                    h3.filter__title Brands
                                    form.form
                                        .form__control
                                            input.form__brand(type='checkbox' name='reebok' id='reebok')
                                            label.form__label(for='reebok') Reebok
                                        .form__control
                                            input.form__brand(type='checkbox' name='addidas' id='addidas')
                                            label.form__label(for='addidas') Addidas
                                        .form__control
                                            input.form__brand(type='checkbox' name='nike' id='nike')
                                            label.form__label(for='nike') Nike
                                        .form__control
                                            input.form__brand(type='checkbox' name='active' id='active')
                                            label.form__label(for='active') Active
                        .cards.products
                            -
                                let cards=[
                                    {
                                        image:'./img/product-2.png',
                                        cards__title:'Reebok Track Jacket',
                                        cards__price:'100',
                                        brand:'reebok',
                                        category:'man',
                                        sizes:'m'
                                    },
                                    {
                                        image:'./img/product-3.png',
                                        cards__title:'addidas Track Jacket',
                                        cards__price:'100',
                                        brand:'addidas',
                                        category:'man',
                                        sizes:'s'
                                    },
                                    {
                                        image:'./img/product-3.png',
                                        cards__title:'reebok Track Jacket',
                                        cards__price:'200',
                                        brand:'reebok',
                                        category:'woman',
                                        sizes:'x'
                                    },
                                    {
                                        image:'./img/product-2.png',
                                        cards__title:'active Track Jacket',
                                        cards__price:'300',
                                        brand:'active',
                                        category:'woman',
                                        sizes:'s'
                                    },
                                    {
                                        image:'./img/product-1.png',
                                        cards__title:'nike Track Jacket',
                                        cards__price:'500',
                                        brand:'nike',
                                        category:'children',
                                        sizes:'x'
                                    },
                                    {
                                        image:'./img/product-3.png',
                                        cards__title:'active Track Jacket',
                                        cards__price:'600',
                                        brand:'active',
                                        category:'children',
                                        sizes:'xl'
                                    },
                                    {
                                        image:'./img/product-2.png',
                                        cards__title:'nike Track Jacket',
                                        cards__price:'1000',
                                        brand:'nike',
                                        category:'hotDeals',
                                        sizes:'xl'
                                    },
                                    {
                                        image:'./img/product-1.png',
                                        cards__title:'addidas Track Jacket',
                                        cards__price:'300',
                                        brand:'addidas',
                                        category:'hotDeals',
                                        sizes:'m'
                                    },
                                    {
                                        image:'./img/product-3.png',
                                        cards__title:'addidas Track Jacket',
                                        cards__price:'700',
                                        brand:'addidas',
                                        category:'man',
                                        sizes:'s'
                                    }
                                ]
                            each card, i in cards
                                .flip-container
                                    .cards__item.flipper
                                        .cards__feature.feature
                                            .feature__description
                                                .feature__image-wrapper
                                                    img(src=card.image)
                                                .feature__title(data-brand=card.brand)=card.cards__title
                                                .feature__size(data-sizes=card.sizes) sizes: s - m - l - xl
                                                .feature__color.color
                                                    a.color__red
                                                    a.color__sapphire
                                                    a.color__blue
                                                    a.color__green
                                            .feature__buttons
                                                .share
                                                    a.icon-sphere
                                                .add-to-cart
                                                    a.icon-add-to-cart
                                                .wishlist
                                                    a.icon-heart
                                        .cards__front(data-category=card.category)
                                            .cards__image-wrapper
                                                img(src=card.image)
                                            .cards__title(data-brand=card.brand)=card.cards__title
                                            .cards__price=card.cards__price
                    .more-button
                        a.icon-dots
            section.newsletter
                .container
                    .newsletter__wrapper
                        .newsletter__heading
                            h3.newsletter__title News letter
                            span.newsletter__subtitle join us now to get all news and special offers
                        .form
                            .form-control
                                i.icon-mail
                                input.input__email(type='text' placeholder='type your email here')
                            input.input__submit(type='submit' value='Join us')
        footer.footer
            .container
                .row
                    .footer__info
                        .footer__image-wrapper
                            img(src='./img/logo.png')
                        .footer__copyright
                            p shopy c 2015. your copy right here
                    .footer__block-list
                        -
                            let footer__block_1=[
                            {
                            footer__item:'about us',
                            footer__link:'#'
                            },
                            {
                            footer__item:'contact us',
                            footer__link:'#'
                            },
                            {
                            footer__item:'support',
                            footer__link:'#'
                            }
                            ];
                        -
                            let footer__block_2=[
                            {
                            footer__item:'our feed',
                            footer__link:'#'
                            },
                            {
                            footer__item:'terms and conditions',
                            footer__link:'#'
                            },
                            {
                            footer__item:'our privacy',
                            footer__link:'#'
                            }
                            ];
                        -
                            let footer__block_3=[
                            {
                            footer__item:'join us',
                            footer__link:'#'
                            },
                            {
                            footer__item:'live support',
                            footer__link:'#'
                            }
                            ]
                        ul.footer__list
                            each footer__item, i in footer__block_1
                                li.footer__item
                                    a(href=footer__item.footer__link)=footer__item.footer__item
                        ul.footer__list
                            each footer__item, i in footer__block_2
                                li.footer__item
                                    a(href=footer__item.footer__link)=footer__item.footer__item
                        ul.footer__list
                            each footer__item, i in footer__block_3
                                li.footer__item
                                    a(href=footer__item.footer__link)=footer__item.footer__item
                    .footer__payment
                        h3.payment__title Payment Methods
                        ul.payment__list
                            li.method-1.payment-method
                            li.method-2.payment-method
                            li.method-3.payment-method
                            li.method-4.payment-method
                            li.method-5.payment-method

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='js/main.js')
        script(src='libs/slick/slick.js')
        script(src='libs/jquery-validation-1.17.0/dist/jquery.validate.min.js')
        script(src='libs/magnific-popup/dist/jquery.magnific-popup.min.js')
        script(src='libs/ion.rangeSlider-master/js/ion.rangeSlider.js')